<h1>Account</h1>
<h4>name: {{ name }}</h4>
<h4>age: {{ age }}</h4>
<h4>bdate: {{ birthday }}</h4>
<h4>email: {{ email }}</h4>
<h4>role: {{ role }}</h4>
<div *ngIf="role == 'superAdmin' || role == 'groupAdmin'">
  <input type="submit" (click)="showed()" value="Show" />
</div>
<ul *ngFor="let item of usersinfo; let i = index">
  <li>
    Name: {{ item }}
    <button type="submit" (click)="addtogroup(item)" class="fadeIn fourth" value="addtogroup">
      Add to group
    </button>
    <button
      type="submit"
      (click)="deleteUser(item)"
      id="deleteUse"
      name="deleteUse"
      class="fadeIn fourth"
    >
      Delete
    </button>
  </li>
</ul>
<div *ngIf="role == 'superAdmin' || role == 'groupAdmin'">
  <form>
    <label>name</label>
    <input
      type="text"
      [(ngModel)]="newName"
      id="newName"
      name="newName"
      placeholder="newName"
      required
    />
    <label>email</label>
    <input
      type="text"
      [(ngModel)]="newEmail"
      id="newEmail"
      name="newEmail"
      placeholder="newEmail"
      required
    />
    <input
      type="checkbox"
      [(ngModel)]="ofGroupAdminRole"
      id="ofGroupAdminRole"
      name="ofGroupAdminRole"
      placeholder="ofGroupAdminRole"
    />
    <input type="submit" (click)="addUser()" class="fadeIn fourth" value="AddUser" />
  </form>
</div>
