<div class="container">
  <form>
    <div class="form-group">
      <label for="messagecontent">New Message</label>
      <input
        type="text"
        [(ngModel)]="messagecontent"
        name="messagecontent"
        id="messagecontent"
        class="form-control"
      />
    </div>
    <div class="form-group">
      <button (click)="chat(messagecontent)" class="btn btn-primary">Chat</button>
    </div>
  </form>
  <h3>Chat Messages</h3>
  <ul>
    <li *ngFor="let message of messages">{{ message }}</li>
  </ul>
</div>
