<div class="wrapper fadeInDown">
  <div id="formContent">
    <form>
      <input
        type="text"
        [(ngModel)]="name"
        id="name"
        class="fadeIn second"
        name="name"
        placeholder="name"
      />
      <input
        type="email"
        [(ngModel)]="email"
        id="email"
        class="fadeIn third"
        name="email"
        placeholder="email"
      />
      <input type="submit" (click)="itemClicked()" class="fadeIn fourth" value="Log In" />
    </form>
    <div id="formFooter"></div>
  </div>
</div>
